/* stylelint-disable */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ==================== Global Styles ==================== */
* {
    font-family: 'Outfit', sans-serif;
    color: rgb(0, 0, 0);
}

html, body, #root {
    height: 100%;
}

body {
    background: transparent;
}

/* ==================== Active State ==================== */
.active hr {
    @apply block;
}

@media (max-width: 740px) {
    .active p {
        @apply text-white bg-primary;
    }
}

/* ==================== Scrollbar ==================== */
::-webkit-scrollbar {
    @apply hidden;
}